html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: #050038;
}

body {
  font-size: 1em;
  font-family: inherit;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  background: #4262ff;
  border-radius: 0.375rem;
}

.btn:hover {
  background: #2946d0;
}

.push-right {
  margin-right: 1rem;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.card .card-body {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 2rem 3.125rem;
  background: #f8f8f7;
}

.card .card-title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.card .card-footer {
  display: flex;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.5rem 3.125rem 2rem 3.125rem;
  background: #fff;
}

#emails-input {
  width: 27.5rem;
}
